[submodule "libcosmos"]
	path = libcosmos
	url = https://github.com/gerstner-hub/libcosmos.git
[submodule "libxpp"]
	path = libxpp
	url = https://github.com/gerstner-hub/libxpp.git
[submodule "tclap"]
	path = tclap
	url = https://git.code.sf.net/p/tclap/code
